.login-page{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
};
.log-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.email-cont{
    margin-top: -30px;
    padding: 0;
}
.emai-para{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #111;
}
.email-inpu{
    height: 40px;
    width: 400px;
    border: 2px solid thistle;
    border-radius: 5px;
}
.pass-para{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #111;
}
.pass-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.for-pas{
    text-decoration: none;
    margin-left: 280px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
}
.or-par{
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
    margin-left: 190px;
}
.btn-log-in{
    width: 410px;
    height: 40px;
    background-color: steelblue;
    font-size: 16px;
}
.cre-acc-btn{
    width: 410px;
    height: 40px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: steelblue;
    cursor: pointer;
}