.techtable{
   border-collapse: collapse; 
   width: 390px;
   padding: 20px;
   box-shadow: 1px 6px 8px rgba(23, 22, 22, 0.459);
    border-radius: 9px;
}
.fonttec{
    font-size: 18px;
}
.font2tec{
    font-size: 13px;
}