.demographic-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    width: 100%;
}
.Gender-container h4{
    font-size: 23px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 15px;
    padding-top: 10px;
}
.Gender-container{
    margin-top: 50px;
    margin-left: 50px;
    height:380px;
    width: 370px;
    background: white;
    border: 1px solid rgb(194, 181, 181);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.Gender-container p{
    margin-left: 230px;
    margin-top: -59px;
    font-size: 23px;
    font-weight: 500;
}
.CTR-container{
    margin-top: 50px;
    margin-left: 50px;
    height:380px;
    width: 370px;
    background: white;
    border: 1px solid rgb(194, 181, 181);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.CTR-container h4{
    font-size: 23px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 15px;
    padding-top: 10px;
}
.CTR-container p{
    margin-left: 230px;
    margin-top: -59px;
    font-size: 23px;
    font-weight: 500;
}
.Age-container{
    margin-top: 50px;
    margin-left: 50px;
    height:380px;
    width: 370px;
    background: white;
    border: 1px solid rgb(194, 181, 181);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.Age-container h4{
    font-size: 23px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 15px;
    padding-top: 10px;
}
.Age-container p{
    margin-left: 230px;
    margin-top: -59px;
    font-size: 23px;
    font-weight: 500;
}
@media screen and (max-width: 768px) {
    .Gender-container,
    .CTR-container,
    .Age-container {
      width: 100%; 
      margin-top: 20px;
      height: auto; 
    }
    .Gender-container p,
  .CTR-container p,
  .Age-container p {
    margin-left: 20px; 
    margin-top: 10px; 
    font-size: 18px; 
  }
}