.container-addaudience{
    
    margin-bottom: 200px;

}
.contaddaud{
    
   border: 2px solid grey;
    border-radius: 10px;
    width: 800px;
    /* margin-left: -px; */
    margin-top: 20px;
   padding-left: 2%;
   padding-bottom: 3%;
   box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.182);
   background-color: white;
}
.india{

    margin: 14px;
    margin-bottom: 2%;
    
}
.locate {
    margin-bottom:1%;
    padding-bottom: 4px;
}
.famap{
    
   /* margin-right: 60px; */
   /* padding-top: 40px; */
}
.caption{
    outline: none;
background-color: transparent;
    border: none;
}

.detail-inp{
outline: none;
background-color: transparent;
    border: none;
    width: 730px;
    height: 40px;
}
.indetail{
    border: 1px solid black;
    width: 750px;
    height: 37px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    border-radius: 5px;
    padding-left: 10px;
}
.pointo{
    border: 2px solid grey; ;
   
   margin-left: 150px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 25%;
    height: 40px;
    padding-left: 10px;
    
}
.catc{
    display: flex;
}
.indiplace{
    display: flex;
    align-items: center;
    
}
.butgecl{
    display: flex;
    align-items: center;
    padding-right: 10px;
}