.side-container{
    width: 100px;
    border: 1px solid rgb(194, 181, 181);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px; 
    max-height: 900px;
}
@media screen and (max-width: 600px) {
    .side-container {
        width: 50px ;
    }
}
@media screen and (min-height: 1200px) {
    .side-container {
        max-height: 600px; 
    }
}
.sidelogo{
    margin-top: 15px;
    font-size: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: -40px;
    color: gray;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sidelogo {
        margin-top: 20px;
        font-size: 25px;
        margin-left: 10px;
        flex-direction: column;
        padding-bottom: -30px;
    }
}
.nav-icons{
    margin-top: 120px;
    font-size: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
@media screen and (min-width: 1025px) {
    .nav-icons {
        margin-top: 120px;
        font-size: 35px;
        gap: 25px;
    }
}
