.side-container{
    width: 100px;
    height: 750px;
    border: 1px solid rgb(194, 181, 181);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px; 
    max-height: 900px;
}
.sidelogo{
    margin-top: 15px;
    font-size: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: -40px;
    color: gray;
}
.nav-icons{
    margin-top: 120px;
    font-size: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media screen and (max-width: 768px) {
    .side-container {
        max-width: 150px; 
    }
    .nav-icons {
        font-size: 25px; 
    }
}
@media screen and (max-height: 600px) {
    .side-container {
        max-height: 750px;
    }
    .sidelogo {
        font-size: 25px;
    }
}